header{
    background-color: #8C1C13;
    padding: 2rem;
}

main{
    min-height: 80vh;
}

footer{
    background-color: #8C1C13;
    padding: 1rem 2rem;
}

.display-products{
    display: flex;
    flex-wrap: wrap;
}

.products-div{
    width: 60%;
}

.cart{
    width: 40%;
}

@media only screen and (max-width: 700px) {
    .display-products{
        flex-direction: column;
    }

    .products-div{
        width: 100%;
    }
}